.container 
  %h3
    = @user.username
  .profile_icon 
    = image_tag 'default-avatar.png'
  .profile_content
    .profile_detail
      %div
        %span 44
        %p Posts
      %div
        %span 110
        %p Followers
      %div
        %span 44
        %p Follow