@import './variables';

input {

  &.text {
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: 1px solid $border-color;
    margin-bottom: 10px;
    padding: 8px 3px 15px;
    outline: none;
    font-size: 20px;
  }
}

label {
  display: block;
  margin-top: 25px;
  font-size: 15px;

  &.link-btn {
    text-align: right;
    margin-top: 5px;
    font-size: 12px;
  }
}